/GestionCoursesXam/GestionCoursesXam/bin
/GestionCoursesXam/GestionCoursesXam/obj
/GestionCoursesXam/GestionCoursesXam.Android/bin
/GestionCoursesXam/GestionCoursesXam.Android/obj
/GestionCoursesXam/GestionCoursesXam.UWP/bin
/GestionCoursesXam/GestionCoursesXam.UWP/obj